<body>
  <div class="jumbotron text-center"> <!-->  mulai Judul Utama --> 
    <h4>PROGRESSIVE WEB APP</h4>
  </div> <!-->  akhir Judul Utama --> 
  
  <div class="container"> <!-->  mulai container -->
    <div class="col-sm-12">
      <div class="row">
        <label>ID : {{device?.id}}</label>
      </div>
      <div class="row">
        <label>TOKEN :</label>
      </div>
      <div class="row">
          <textarea wrap= "off" cols="100" rows="1" disabled="true">{{device?.token}}</textarea>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Message</th>
                <th>Sent</th>
                <th>Received</th>
              </tr>
              <tr  *ngFor="let message of messages">
                <td>{{message.body}}</td>
                <td>{{message.sentDate}}</td>
                <td>{{message.receiveDate}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>